.offer {
  font-family:Arial;
  font-size:60px;
  margin-bottom:40px;
}
.textbox-a {
  width:560px;
  height:70px;
  border:none;
  font-size:25px;
  font-family:Arial;
  color:darkgrey;
  background-color:rgb(244, 233, 233);
  padding-left:30px
}
.textbox-b {
  width:560px;
  height:70px;
  border:none;
  font-size:25px;
  font-family:Arial;
  color:darkgrey;
  background-color:rgb(244, 233, 233);
  padding-left:30px;
  margin-top:15px;
  display:block;
}
.booking-button {
  font-family:Arial;
  font-size:25px;
  color:white;
  background-color:black;
  width:180px;
  height:70px;
  margin-top:50px;
  margin-right:35px;
}
.time-button {
  font-family:Arial;
  font-size:25px;
  border:none;
  background-color:rgb(244, 233, 233);
  color:black;
  width:260px;
  height:80px;
}